@model CountryClass

<h1 class="bg-info text-white">Update Country</h1>

<a asp-action="ListCountries" class="btn btn-secondary">Back</a>



<form asp-action="EditCountry" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>


