@model IEnumerable<CountryClass>

    <h1 class="bg-info text-white">Manage Countries</h1>


    <table class="table table-sm table-bordered table-bordered">
        <tr><th>ID</th><th>Country</th><th>Update</th><th>Delete</th></tr>
        @foreach (CountryClass country in Model)
        {
        <tr>
            <td>@country.Id</td>
            <td>@country.Name</td>
            <td><a class="btn btn-sm btn-primary" asp-action="EditCountry" asp-route-id="@country.Id">Update</a></td>
            <td>
                <form asp-action="DeleteCountry" asp-route-id="@country.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
    <br />
    <a asp-action="CreateCountry" class="btn btn-secondary">New Country</a>
